.tile-container {
  border-radius: 10px;
  display: flex;
  height: 100px;
  padding: 10px 14px 10px 14px;
  width: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
  flex-direction: column;
  border: none;
}

.tile-container:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}

.tile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tile-icon {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-count {
  font-size: 20px;
  font-weight: bold;
}

.tile-body {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tile-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.tile-subtitle {
  font-size: 12px;
  margin: 2px 0 0 0;
}
