/* CSS Variables for consistent layout */
:root {
  --sidebarWidth: 80px;
  --navbarHeight: 60px;
  --primary: #043E54;
  --primaryDark: rgb(4, 51, 69);
  --white: #ffffff;
  --hover: rgba(255, 255, 255, 0.2);
  --tooltipBg: #333;
  --tooltipText: #fff;
  --font-family: 'Lato', sans-serif;
  --font-size: 16px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 12px;
  --radius-xl: 24px;
}

/* Custom Scrollbar for the whole application */
body {
  font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #b2b2b2;
  border-radius: 12px;
}

/* Show scrollbar only on hover */
body:hover ::-webkit-scrollbar {
  opacity: 1; /* Show scrollbar when hovered */
}