.layout-container {
  display: flex;
  height: 100vh;
  flex-direction: row;  
  background: #f9fafb;
  min-width: 100vw;
  position: fixed;
}

.main_content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  margin: 24px;
}

.children_content {
  flex-grow: 1;
  overflow-y: auto;
}

.layout-container.no-nav-sidebar .main-content-container {
  margin-left: 0;
}

.layout-container.no-nav-sidebar .main-content {
  margin-top: 0;
}