.task-creation-module {
    /* height: 100%; */
    /* width: 100%; */
    padding: 15px;
  }
  .event-detail-module {
    /* height: 100%; */
    /* width: 100%; */
    padding: 15px;
  }
  
  .BreadCrumb {
    height: auto;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 10px;
  }
  
  .Top-Section {
    height: auto;
    margin-bottom: 15px;
  }
  
  .Inner-Content {
    height: calc(100% - 160px);
    width: 100%;
  }

  .icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    transition: transform 0.2s;
}

.icon-btn:hover {
    transform: scale(1.1);
    color: #007bff;
}
